@page "/"
@inject HttpClient Http

<h1>Välkommen till stegtävlingen 2020!</h1>

<AuthorizeView>
    <Authorized>
        <p>För att registrera steg klicka <a href="activity">här</a> eller välj "Steg" i menyn.</p>
    </Authorized>
    <NotAuthorized>
        @{
            var providers = new Dictionary<string, string>
        {
                { "google", "Google" },
                { "facebook", "Facebook" }
            };
        }

        <div class="container">
            @foreach (var provider in providers)
            {
                <div class="row">
                    <div class="col-sm-12 col-md-9 col-lg-6">
                        <a class="btn btn-block btn-lg btn-social btn-@provider.Key" href="/.auth/login/@provider.Key">
                            <span class="fa fa-@provider.Key"></span> Logga in med @provider.Value
                        </a>
                    </div>
                </div>
            }
        </div>
    </NotAuthorized>
</AuthorizeView>
